@{
    ViewData["Title"] = "Home Page";
}

<div class="text-center">
    <h1 class="display-4">Gözlem Haritası</h1>
</div>

<!-- Harita Alanı -->
<div id="map" style="width: 100%; height: 500px;"></div>
<!-- Popup -->
<div id="popup" class="ol-popup" style="display: none;">
    <div id="popup-content"></div>
</div>

