@{
    ViewData["Title"] = "Home Page";
}
<body>
    <header>
        <div class="text-center">
            <h1 class="display-4">
                Gözlem Haritası
            </h1>
            
        </div>
        
        <div id="map"></div>

    </header>
</body>

