@{
    ViewData["Title"] = "Home Page";
    ViewData["NavbarClass"] = "navbar-transparent";

}
<!DOCTYPE html>
<html lang="tr">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>EcoSphere | Ana Sayfa</title>
    <link href="https://fonts.googleapis.com/css2?family=Poppins:wght@400;600&display=swap" rel="stylesheet">
   
</head>

<body>

    <div class="wrapper">
        <div class="page-header section-dark" style="background-image: url('http://demos.creative-tim.com/paper-kit-2/assets/img/antoine-barres.jpg')">
            <div class="filter"></div>
            <div class="content-center">
                <div class="tam-genislik">
                    <div class="title-brand">
                        <h1 class="presentation-title">EcoSphere</h1>
                        <div class="fog-low">
                            <img src="http://demos.creative-tim.com/paper-kit-2/assets/img/fog-low.png" alt="">
                        </div>
                        <div class="fog-low right">
                            <img src="http://demos.creative-tim.com/paper-kit-2/assets/img/fog-low.png" alt="">
                        </div>
                    </div>

                    <h2 class="presentation-subtitle text-center">Discover, Share, and Protect Nature</h2>
                </div>
            </div>
            <div class="moving-clouds" style="background-image: url('http://demos.creative-tim.com/paper-kit-2/assets/img/clouds.png'); ">
            </div>
        </div>
    </div>


	<script src="~/js/Home.js"> </script>
	</body>
</html>