@{
    ViewData["Title"] = "Home Page";
}
<body>
    <header>
        <div class="text-center">
            <h1 class="display-4">
                DOĞA KORUMA MERKEZİ
            </h1>
            <h2 class="display-4">
                CANLI BULMA OPERASYONU
            </h2>
        </div>
        
        <div id="map"></div>

    </header>
</body>

