@{
    ViewBag.Title = "Şifremi Unuttum";
}

<h3>Şifremi Unuttum</h3>

<form method="post">
    @if (ViewBag.EmailConfirmed == null)
    {
        <label>Email:</label>
        <input type="email" name="email" class="form-control" required />
        <button type="submit" class="btn btn-primary">Kod Gönder</button>
    }
    else
    {
        <label>Koda gelen e-posta:</label>
        <input type="text" name="otp" class="form-control" required />
        <button formaction="/UserView/VerifyOtp" formmethod="post" class="btn btn-success">Kodu Doğrula</button>
    }

    @if (ViewBag.Error != null)
    {
        <p style="color:red">@ViewBag.Error</p>
    }
</form>