@model UserViewModel

<form asp-action="Login" method="post">
    <label for="UserId">Select User:</label>
    <select asp-for="UserId" asp-items="Model.UserNamed" class="form-control">
        <option value="">-- Select User --</option>
    </select>

    <label for="Password">Password:</label>
    <input type="password" asp-for="Password" class="form-control" />

    <button type="submit" class="btn btn-primary">Login</button>

    @if (ViewBag.ErrorMessage != null)
    {
        <div class="alert alert-danger">@ViewBag.ErrorMessage</div>
    }
</form>