/* Please see documentation at https://learn.microsoft.com/aspnet/core/client-side/bundling-and-minification
for details on configuring this project to bundle and minify static web assets. */
nav {
    
    background: #74a11f;
    padding: 0 20px;
    border-bottom: 1px solid #ddd;
    display: flex;
}
.navbar-brand {
    font-family: 'Poppins', sans-serif;
    color: ghostwhite;
    font-size: 40px;
}
.navbar-nav {
    font-size: 25px;
    color: ghostwhite;
}

.footer {
    background: #74a11f;
    border-bottom: 1px solid #ddd;
    position: absolute;
    bottom: 0;
    width: 100%;
    white-space: nowrap;
    line-height: 60px;
}
