/* Please see documentation at https://learn.microsoft.com/aspnet/core/client-side/bundling-and-minification
for details on configuring this project to bundle and minify static web assets. */
nav {
    background: rgb(2,0,36);
    background: linear-gradient(90deg, rgba(2,0,36,1) 0%, rgba(23,101,28,1) 15%, rgba(10,153,14,1) 50%, rgba(23,101,28,1) 85%, rgba(0,0,0,1) 100%);
    font-family: 'Poppins', sans-serif;
}
.navbar-brand{
    color:black;
    font-size:30px;
}
.navbar-nav {
    font-size:25px;
    color:black;
    
}

.footer {
    background: rgb(2,0,36);
    background: linear-gradient(90deg, rgba(2,0,36,1) 0%, rgba(23,101,28,1) 15%, rgba(10,153,14,1) 50%, rgba(23,101,28,1) 85%, rgba(0,0,0,1) 100%);
    position: absolute;
    bottom: 0;
    width: 100%;
    white-space: nowrap;
    line-height: 60px;
}
